.card {
  flex: 0 0 30vw;
  margin: 10px;
  width: 30vw;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-button {
  bottom: 50px;
  position: fixed;
  right: 50px;
  z-index: 10;
}
