.card {
  flex: 0 0 30vw;
  margin: 10px;
  width: 30vw;
}

:host {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fab-button {
  bottom: 96px;
  position: fixed;
  right: 32px;
  z-index: 10;
}
