@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
html,
body,
app-root,
mat-sidenav-container,
.site {
  height: 100%;
  margin: 0;
  width: 100%;
}

.site {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
