.completion-status {
  order: -1;
}

.completed {
  color: #d9d9d9;
  opacity: 0.64;
  text-decoration: line-through;
}

.avatar {
  border-radius: 50%;
  height: 64px;
  margin: 12px;
  order: 3;
  overflow: hidden;
  width: 64px;
}

.due-date {
  background-color: #ff4f3e;
  color: #fff;
}

.alarm {
  font-size: 18px;
}

.bottom-bar {
  margin: 3px;
}

.priority-normal {
  border-left: 3px solid #a6a6a6;
}

.priority-important {
  border-left: 3px solid #ffaf38;
}

.priority-emergency {
  border-left: 3px solid red;
}
